<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="/regis/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" croorigin>
    <link href="https://fonts.googleapis.com/c2?family=Niramit&family=Roboto&display=swap" rel="stylesheet">

    <title>Main</title>
</head>

<body>
  <header>
    <a2 id="user">Welcome  &nbsp {{user.first_name}} {{user.last_name}}</a2>
    {% block page%}

    {% endblock %}

    <a href="{% url 'users:logout' %}" id='logout'>log out</a>
  </header>
        {% block content %}

        {% endblock %}



</body>

</html>