{% extends "users/layout.html" %}
  
    {% block body %}
        <section  class="info" >
            <div> 
                <li>
                    <p class="users">User:</p>
                    <p>Tony</p>
                    
                </li>
                <li>
                    <p>Name:</p>
                    <p>Tony</p>
                    <p>Stark</p>
                </li>
                <li>
                    <p>College Year:</p>
                    <p>  3  </p>
                   
                </li>
                <li>
                    <p>GPAX:</p>
                    <p>  4.00  </p>
                   
                </li>
                <li>
                    <p>Bithday:</p>
                    <p>  dd mm yyyy  </p>
                   
                </li>
                <li>
                    <p>Gender:</p>
                    <p>Male</p>
                   
                </li>
                <li>
                    <p>Blood type:</p>
                    <p> A </p>
                   
                </li>

            </div>
        </section>
         

  {% endblock %}